global:
  imageRegistry: ""
  imagePullSecrets: []
  defaultStorageClass: "gp2-csi"
  security:
    allowInsecureImages: false
  compatibility:
    openshift:
      adaptSecurityContext: auto
kubeVersion: ""
nameOverride: ""
fullnameOverride: ""
commonLabels: {}
commonAnnotations: {}
clusterDomain: cluster.local
extraDeploy: []
usePasswordFiles: true
diagnosticMode:
  enabled: false
  command:
    - sleep
  args:
    - infinity

image:
  registry: docker.io
  repository: bitnami/ghost
  tag: latest
  digest: ""
  pullPolicy: IfNotPresent
  pullSecrets: []
  debug: false
ghostUsername: devops
ghostPassword: "devops2025@"
existingSecret: ""
ghostEmail: user@example.com
ghostBlogTitle: User's Blog
ghostHost: "devopstraining.ddns.net"
ghostPath: /
ghostEnableHttps: false
smtpHost: ""
smtpPort: ""
smtpUser: ""
smtpPassword: ""
smtpService: ""
smtpProtocol: ""
smtpExistingSecret: ""
allowEmptyPassword: true
ghostSkipInstall: false
command: []
args: []
extraEnvVars: []
extraEnvVarsCM: ""
extraEnvVarsSecret: ""
replicaCount: 1
updateStrategy:
  type: RollingUpdate
priorityClassName: ""
schedulerName: ""
topologySpreadConstraints: []
automountServiceAccountToken: false
hostAliases: []
extraVolumes: []
extraVolumeMounts: []
sidecars: []
initContainers: []
pdb:
  create: true
  minAvailable: ""
  maxUnavailable: ""
lifecycleHooks: {}
podLabels: {}
podAnnotations: {}
podAffinityPreset: ""
podAntiAffinityPreset: soft
nodeAffinityPreset:
  type: ""
  key: ""
  values: []
affinity: {}
nodeSelector: {}
tolerations: []
resourcesPreset: "small"
resources: {}
containerPorts:
  http: 2368
  https: 2368
extraContainerPorts: []
podSecurityContext:
  enabled: true
  fsGroupChangePolicy: Always
  sysctls: []
  supplementalGroups: []
  fsGroup: 1001
containerSecurityContext:
  enabled: true
  seLinuxOptions: {}
  runAsUser: 1001
  runAsGroup: 1001
  runAsNonRoot: true
  privileged: false
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]
  seccompProfile:
    type: "RuntimeDefault"
startupProbe:
  enabled: false
  initialDelaySeconds: 120
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1
livenessProbe:
  enabled: true
  initialDelaySeconds: 120
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1
readinessProbe:
  enabled: true
  initialDelaySeconds: 30
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 6
  successThreshold: 1
customLivenessProbe: {}
customReadinessProbe: {}
service:
  type: LoadBalancer
  ports:
    http: 80
    https: 443
  nodePorts:
    http: ""
    https: ""
  clusterIP: ""
  loadBalancerIP: ""
  loadBalancerSourceRanges: []
  externalTrafficPolicy: Cluster
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
  extraPorts: []
  sessionAffinity: None
  sessionAffinityConfig: {}
ingress:
  enabled: false
  pathType: ImplementationSpecific
  apiVersion: ""
  hostname: ghost.local
  path: /
  annotations: {}
  tls: false
  selfSigned: false
  extraHosts: []
  extraPaths: []
  extraTls: []
  secrets: []
  ingressClassName: ""
  extraRules: []
persistence:
  enabled: true
  storageClass: "ghost"
  annotations: {}
  accessModes:
    - ReadWriteMany
  size: 8Gi
  existingClaim: ""
  subPath: ""
volumePermissions:
  enabled: false
  image:
    registry: docker.io
    repository: bitnami/os-shell
    tag: latest
    digest: ""
    pullPolicy: IfNotPresent
    pullSecrets: []
  resourcesPreset: "none"
  resources: {}
  securityContext:
    seLinuxOptions: {}
    runAsUser: 0

mysql:
  enabled: true
  image:
    registry: docker.io
    repository: bitnami/mysql
    tag: latest
    pullPolicy: IfNotPresent
    pullSecrets: []
  metrics:
    enabled: true
  architecture: standalone
  auth:
    rootPassword: "root"
    database: bitnami_ghost
    username: bn_ghost
    password: "root"
    existingSecret: ""
  primary:
    persistence:
      enabled: true
      storageClass: ""
      accessModes:
        - ReadWriteOnce
      size: 8Gi
    resourcesPreset: "small"
    resources: {}
externalDatabase:
  host: localhost
  port: 3306
  user: bn_ghost
  password: ""
  database: bitnami_ghost
  existingSecret: ""
  ssl: false
  sslCaFile: ""
networkPolicy:
  enabled: true
  allowExternal: true
  allowExternalEgress: true
  extraIngress: []
  extraEgress: []
  ingressNSMatchLabels: {}
  ingressNSPodMatchLabels: {}
serviceAccount:
  create: true
  name: ""
  automountServiceAccountToken: false
  annotations: {}
